/* Search */
.search-sec {
  display: none;
  position: relative;
  z-index: 100;
}
.search-sec.fade-in {
  display: flex !important;
  position: relative;
  z-index: 100;
}
.search-sec.fade-out {
  display: flex !important;
  position: relative;
  z-index: 100;
}
.icon-search{
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
}
 .search-sec form{
  position: relative;
  top: 1rem;
  /* display: none; */
  display: block;
}
/* .search-sec:hover form{
  display: block;
} */
.search-area{
  background:rgba(255,255,255,0);
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  min-height: 2rem;
  padding: 0 3.3rem 0.3rem 2rem;
  min-width: 190px;
  width: 250px;
  font-size: 1.2rem;
}
.search-provider{
  background: rgba(0,0,0,.7);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 4rem;
  left: 140px;
  display: none;
}
.search-provider li{
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
}
.search-provider li:first-child{
  padding: 0 0 0.3rem 0;
}
.search-provider li:last-child{
  padding: 0.3rem 0 0 0;
}
.search-provider li span{
  font-size: .9rem;
  padding-left: .5rem;
}
.search-provider li img{
  padding-right: 5px;
}
.current-box{
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.current{
  height: 20px;
}
.icon-angle-down{
  font-size: 1rem;
  vertical-align: super;
  padding: 0;
  margin: 0;
}

.search-provider li{
  padding: 10% 0;
  vertical-align: bottom;
}
.search-provider img{
  height:25px;
}
.btn-submit{
  background: none;
  border: 0;
  color: #fff;
}

/* Setting */
.setting-sec{
  position: relative;
}
.icon-cog{
  position: absolute;
  bottom: 1rem;
  left: 0;
  font-size: 1.4rem;
  cursor: pointer;
  transform: rotate(0deg);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.icon-cog.clicked{
  position: absolute;
  bottom: 1rem;
  left: 0;
  font-size: 1.4rem;
  cursor: pointer;
  transform: rotate(45deg);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.setting-list{
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  position: absolute;
  bottom: 7vh;
  left: 0;
  padding-left: 0;
  padding: 1rem;
  display: none;
}
.setting-list li{
  display: flex;
  padding: .5rem 0;
  align-items: center;
  justify-content: space-between;
}
.setting-list .logout{
  border-radius: 5px;
  justify-content: center;
  margin: 0.8rem 0 0 0;
  border: 1px solid rgba(255,255,255,.2);
}
.setting-list .logout:hover{
  background: rgba(255,255,255,.3);
}
.setting-list .logout h3{
 padding-right: 0;
 font-weight: 500;
 font-size: .8rem;
 letter-spacing: 1px;
}
.setting-list li:nth-child(6){
  padding: .5rem 0 .8rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.setting-list li:first-child{
  padding: 0 0 .7rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.setting-list li:last-child{
  padding: .7rem 0;
}
.setting-list li:nth-child(2){
  padding: .8rem 0 .5rem 0;
}
.title h2{
  margin: 0;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}
.setting-list li h3{
  display: inline-block;
  margin: 0;
  font-size: .9rem;
  font-weight: normal;
  padding-right: 2rem;
}
.toggle-box{
  font-size: .7rem;
}
.toggle {
  display: none;
}
.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .btn-toggle::-moz-selection {
  background: none;
}
.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .btn-toggle::selection {
  background: none;
}
.toggle + .btn-toggle {
  outline: 0;
  display: block;
  width: 3.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle + .btn-toggle:after, .toggle + .btn-toggle:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle + .btn-toggle:after {
  left: 0;
}
.toggle + .btn-toggle:before {
  display: none;
}
.toggle:checked + .btn-toggle:after {
  left: 50%;
}
.toggle-input + .btn-toggle {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #888;
  border-radius: 3px;
}
.toggle-input + .btn-toggle:after, .toggle-input + .btn-toggle:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.toggle-input + .btn-toggle:after {
  left: 100%;
  content: attr(data-tg-on);
}
.toggle-input + .btn-toggle:before {
  left: 0;
  content: attr(data-tg-off);
}
.toggle-input + .btn-toggle:active {
  background: #888;
}
.toggle-input + .btn-toggle:active:before {
  left: -10%;
}
.toggle-input:checked + .btn-toggle {
  background: #86d993;
}
.toggle-input:checked + .btn-toggle:before {
  left: -100%;
}
.toggle-input:checked + .btn-toggle:after {
  left: 0;
}
.toggle-input:checked + .btn-toggle:active:after {
  left: 10%;
}

/* main */
.main-sec{
  top: 8rem;
  box-sizing: border-box;
  height: 75vh;
  position: relative;
  text-align: center;
}
.greeting{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.greeting p{
  margin: 0;
  font-size: 3.5rem;
  font-weight: 500;
}
/* quote */
.quote-sec{
  padding: 1rem 0.5rem;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.quote-sec.fade-in{
  padding: 1rem 0.5rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.quote-sec.fade-out{
  padding: 1rem 0.5rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.quote-sec q{
  font-size: 1.1rem;
  text-align: center;
}

/* modify */
.weather-sec{
  display: none;
  position: relative;
}
.weather-box{
  background: rgba(0,0,0,.7);
  width: 300px;
  position: absolute;
  right: 0;
}
.weather-main :first-child{
  font-size: 2.2rem;
}
.main-temp{
  font-weight: normal;
  font-size: 1.5rem;
}
.icon-celcius.main-celcius{
  font-weight: normal;
  font-size: 2.3rem;
  margin: 0 -1.2rem 0 -1.5rem;
}
.weather-location{
  font-weight: normal;
  font-size: .9rem;
}
.box-location{
  font-size: 1.1rem;
  font-weight: 500;
}
.box-i{
  margin-left: -0.4rem;
  font-size: 3.8rem;
}
.box-temp{
  margin-left: -0.6rem;
  font-size: 2.7rem;
}
.box-celcius{
  margin-left: -1.6rem;
  font-size: 3.6rem;
}

/* clock change */
.clock-box{
  width: 100%;
  position: relative;
  height: 16rem;
  margin-bottom: 3rem;
}
.digital-clock{
  font-size: 11.5rem;
  font-weight: 500;
  display: none;
}
.analog-clock {
  position: relative;
  margin: 0 auto 2rem;
  width: 194px;
  height: 194px;
  background-color: none;
  border: 6px solid rgba(255,255,255,.9);
  border-radius: 50%;
  padding-bottom: 1rem;
  display: none;
}
.hand {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 90px;
  /* 자바스크립트에 의해 덮어써진다. */
  /* transform: translate3d(-50%, 0, 0); */
  transform-origin: 100% 100%;
}
.hour {
  background-color: rgba(255, 255, 255, 1);
  width: 2px;
}
.minute {
  background-color: rgba(255, 255, 255, .8);
}
.second {
  background-color: rgba(255, 255, 255, .6);
}
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
}
.greeting{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.greeting p{
  margin: 0;
  font-size: 3.5rem;
  font-weight: 500;
}


/* media query */
@media all and (max-width:980px) {
  .weather-box{
    max-width: 250px;
  }
  .box-weekly{
    padding: .5rem 0.3rem 0 0.3rem;
  }
}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.logout {
  cursor: pointer;
}
